
.About-page{
    padding-top: 5em;
    height: 100vh;
    display: grid;
    grid-template-columns: .2fr .8fr;


    .main-content{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.TOC-Container{
    max-height: 30%;
    border: 1px solid $light-gray;
    border-radius:  .5em;
    margin-right: .5em;


    .list-items{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 2em;

        li{
            text-align: left;
            text-decoration: none;
        }

    }
}

.About-section{
    border: 4px solid $wild-blue-yonder;
    border-radius: .5em;

    p{
        margin: 0 auto;
        text-align: left;
        max-width: 75%;
        padding: 1em;
        a{
            color: $wild-blue-yonder;
            font-weight: 600;
        }
    }  
}

.color-container{
    display: flex;
    justify-content:  center;
    gap:1em;

    .color-square{
        width: 4em;
        height: 4em;
        border-radius: .5em;
    }
}