
.About-page{
    padding-top: 5em;
    height: 100vh;
    display: grid;
    gap:.5em;
    grid-template-columns: .2fr .8fr;

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}


.About-Map{
    border-radius: .5em;
    border: 0;
    margin: 0 auto;
    height: 15em;
    width: 80%;
}

.TOC-Container{
    max-height: 28em;
    border: 1px solid $light-gray;
    border-radius:  .5em;
    padding: .5em;

    transition: all .5s ease-in-out;

    @media screen and (max-width: 900px) {
        max-height: 100%;

        .list-items{
            font-size: 1.4em;
        }
    }

    .TOC-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 1em;

        @media screen and (min-width: 900px) {
            justify-content: center;

            h4 {
                text-align: center;
            }
        }
    }


    .TOC-button{
        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    .list-items{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 2em;

        li{
            display: flex;
            text-align: left;
            gap: .25em;
            align-items: center;
            text-decoration: none;
            font-size: 1.2em;
        }

    }
}

.About-section{
    border: 4px solid $wild-blue-yonder;
    border-radius: .5em;
    padding-bottom: 1em;

    p{
        font-size: 1.2rem;
        line-height: 1.4;
        margin: 0 auto;
        text-align: left;
        max-width: 75%;
        padding: 1em;
        a{
            color: $wild-blue-yonder;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 650px) {
        p{
            max-width: 100%;
        }
    }

}

.color-container{
    display: flex;
    justify-content:  center;
    gap:1em;

    .color-square{
        width: 4em;
        height: 4em;
        border-radius: .5em;

        @media screen and (max-width: 500px) {
            width: 2em;
            height: 2em;
        }
    }

}

.hotel-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    gap: 2em;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    .hotel{
        display: flex;
        flex-direction: column;
        border-radius: .5em;
        background-color: $wild-blue-yonder;
        padding: .5em 1em;
        width: fit-content;

        a{
            text-decoration: none;
            color: $light-gray;
            font-weight: 600;
        }
    }
}

.About-Food{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding:0 1em;

    div{
        display: flex;
        flex-direction: column;
        border: 2px solid $light-gray;
        border-radius: .5em;

        h4{
            margin-bottom: 0;
        }

        p{
            font-size: 1em;
            font-weight: 200;
            text-align: left;
            font-style: italic;
        }
    }

    @media screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5em;
    }
}

.qr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .qr-card{
        border: 2px solid $light-gray;
        background-color: $wild-blue-yonder;
        padding: 1em;
        border-radius: 1em;
    }

    .qr-code{
        border: 1px solid $wild-blue-yonder;
        width: 10em;
        height: 10em;
    }
}