$rust: #b1491cff;
$red-rust: #b1211c;
$chinese-violet: #7a5770ff;
$dark-blue-gray: #576587;
$wild-blue-yonder: #576587;
$light-gray: #cfcbcaff;
$spanish-gray: #919191ff;
$pewter-blue: #9bb6bdff;
$dark-gray: rgb(28, 28, 28);
$medium-gray: rgb(75, 75, 75);