@import './colors.scss',
        './animations.scss',
        './Home.scss',
        './Navigation.scss',
        './UserBug',
        './UserForm.scss',
        './Location.scss',
        './About';

// ----Root Styles -------

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1{
  font-size: 2.25rem;
}
h2{
  font-size: 1.75rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1.25rem;
}
h5{
  font-size: .75rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

.warning-txt{
  color: $red-rust;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin: 1em 0;
}

form{
  min-width: min-content  ;
}

table {
  border-collapse: collapse;
  border-spacing: .5em;
  width: 100%;
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  th:first-child{
    border-radius: .5em 0 0 .5em
  }
  th:last-child{
    border-radius: 0 .5em .5em 0 
  }

  th {
    text-align: left;
    padding: 1em;
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: $wild-blue-yonder;
    background-color: $dark-blue-gray;
  }

  td {
    padding: .25em 1em;
    border-bottom: 1px solid $wild-blue-yonder;
  }
}

button{
  border: none;
  border-radius: .25em;
  padding: .25em 1em;
  font-size: 1.25rem;
  background-color: $dark-blue-gray;
  color: $light-gray;

  &:hover{
    background-color: darken($dark-blue-gray, 10%);

  }

}

.btn{
  @extend button;
}

button[type="submit"] {
  background-color: $wild-blue-yonder;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $wild-blue-yonder, $amount: 10%);
  }

  &:active {
    background-color: darken($color: $wild-blue-yonder, $amount: 20%);
  }
}

.logout-btn{
  background-color: $rust;

  &:hover {
    background-color: darken($color: $rust, $amount: 10%);
  }

  &:active {
    background-color: darken($color: $rust, $amount: 20%);
  }
}

.danger-btn{
  @extend .btn;
  background-color: $red-rust;

  &:hover {
    background-color: darken($color: $red-rust, $amount: 10%);
  }

  &:active {
    background-color: darken($color: $red-rust, $amount: 20%);
  }
}

label{
  font-size: 1.25rem;
  margin-bottom: .5em;
  text-decoration: underline;
  text-decoration-color: $wild-blue-yonder;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], select {
  border: 1px solid $wild-blue-yonder;
  border-radius: .25em;
  padding: .25em .2em;
  font-size: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $light-gray;
    background: $dark-gray;
  }
}


//  ------- global utiliy classes -------

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.container-full{
  height:100vh;
  overflow: hidden
}

.container-full-centered{
  @extend .container-full;
  display:grid;
  place-items: center;
}

.fluid-container{
  display: flex;
  align-items:  center;
  gap: .5em;
  padding: 1em 0;
}

.fluid-container-start{
  @extend .fluid-container;
  justify-content: flex-start;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: .25em 0;
  padding: .5em 0;

  input[type=number] {
    -mox-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
}

.column{
  display: flex;
  flex-direction: column;
  gap: .25em 0;
  padding: .5em 0;
}

.dual-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  @media (max-width: 900px){
    grid-template-columns: 1fr;
  }
}

.divider{
  width: 80%;
  height: 1px;
  margin: .5em auto;
  background-color: $light-gray;
}

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5em 0;
}

.RSVP-holder{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  place-items: center;

  @media (max-width: 900px){
    grid-auto-flow: row;
  }
}