@import './colors.scss','./Home.scss','./Navigation.scss','./UserForm.scss';

// ----Root Styles -------

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1{
  font-size: 2.25rem;
}
h2{
  font-size: 1.75rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1.25rem;
}
h5{
  font-size: .75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: $wild-blue-yonder;
  color: $light-gray;
  border: none;
  border-radius: .25em;
  padding: .25em 1em;
  font-size: 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $wild-blue-yonder, $amount: 10%);
  }

  &:active {
    background-color: darken($color: $wild-blue-yonder, $amount: 20%);
  }
}

label{
  font-size: 1.25rem;
  margin-bottom: .5em;
  text-decoration: underline;
  text-decoration-color: $wild-blue-yonder;
}

input[type="text"], input[type="password"], input[type="email"] {
  border: 1px solid $wild-blue-yonder;
  border-radius: .25em;
  padding: .25em 1em;
  font-size: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $light-gray;
    background: $dark-gray;
  }
}


//  ------- global utiliy classes -------


.container-full{
  height:100vh;
  overflow: hidden
}

.container-full-centered{
  @extend .container-full;
  display:grid;
  place-items: center;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: .25em 0;
  padding: .5em 0;
}